<!DOCTYPE html>
<html>
  <head>
    <title>Lab3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lab 3 Create and New</h1>
    <p>To view list of books. /books</p>
	<p>To create a new book. /books/new</p>
  </body>
</html>
